:where(.addresses) {
  display: flex;
  flex-direction: column;
  max-block-size: 100%;
  inline-size: 60%;
  margin-inline: auto;
  margin-block-start: var(--length-12);
}

:where(.addresses > div:first-of-type) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-end: var(--length-8);
  direction: ltr;
}

:where(.addresses > div:first-of-type > p) {
  margin-inline-end: auto;
  margin-block: var(--length-6);
  font-weight: 700;
  font-size: var(--length-14);
}

:where(.addresses > div:first-of-type > a) {
  margin-inline-end: auto;
}

:where(.addresses > div:first-of-type > a > svg) {
  margin-block-start: var(--length-12);
}

:where(.addresses > div:last-of-type) {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding-inline: 10px;
  overflow-y: auto;
}

:where(.addresses > div:last-of-type > li) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-end: 8px;
  padding-inline-start: 12px;
  padding-block: var(--length-28);
  margin-block-start: var(--length-4);
  margin-block-end: var(--length-12);
  border: var(--border-normal) solid var(--color-faded-4);
  border-radius: 6px;
  color: var(--color-text-2);
  font-size: var(--length-14);
}

:where(.addresses > div:last-of-type > li > p) {
  margin-inline-start: 24px;
  font-size: var(--length-12);
}

:where(.addresses > div:last-of-type > li ._delete) {
  margin-inline-start: auto;
  background-color: transparent;
  border: none;
}

:where(.addresses > a) {
  padding-inline-start: 10px;
  padding-block: var(--length-16);
  margin-block-end: var(--length-8);
  color: var(--color-action-2);
  font-size: var(--length-16);
  font-weight: 700;
}

:where(.addresses > a:hover, .addresses > a:active) {
  padding-inline-start: 8px;
  color: var(--color-action);
  background-color: var(--color-action-4);
  opacity: 0.75;
  border-radius: 8px;
}

:where(.addresses > a > svg) {
  display: inline-block;
  inline-size: 12px;
  block-size: 12px;
  margin-inline: 8px;
  margin-block-start: 3px;
  /* opticall alignment */
}

:where(.addresses ._empty) {
  margin-block: var(--length-24);
  font-weight: 700;
  color: var(--color-error);
}

@media (max-width: 68.75rem) {
  :where(.addresses) {
    inline-size: 80%;
  }
}

@media (max-width: 34.375rem) {
  :where(.addresses) {
    inline-size: 95%;
  }

  :where(.addresses > div:last-of-type > li) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  :where(.addresses > div:last-of-type > li > *) {
    margin-block: var(--length-4);
    margin-inline: initial;
    text-align: center;
  }
}
