:where(._address-page) {
  inline-size: 50%;
  margin-inline: auto;
  border: solid var(--color-faded-2) var(--border-normal);
}

:where(._address-page > p) {
  margin-inline: 16px;
  font-size: var(--length-20);
  margin-block: var(--length-16);
  font-weight: 600;
}

:where(._address-page > form) {
  display: flex;
  flex-direction: column;
}

:where(._address-page > form > div > label) {
  font-size: var(--length-14);
  font-weight: 500;
  align-self: center;
  margin-block: var(--length-6);
}

:where(._address-page > form > div) {
  display: flex;
  margin-inline: 16px;
  margin-block: var(--length-12);
  padding-inline: 12px;
  border: solid var(--color-faded-2) var(--border-thick);
  border-radius: 6px;
  box-shadow: rgba(58, 61, 66, 0.06) 0px 1px 0px,
    rgba(0, 0, 0, 0.2) 0px 4px 16px -8px;
}

:where(._address-page > form > div:focus-within) {
  background-color: var(--color-faded-4);
  outline: solid var(--border-thin) var(--color-faded);
  outline-offset: 0px;
}

:where(._address-page > form button) {
  margin-block: var(--length-8);
  align-self: center;
  inline-size: 36px;
}

:where(
    ._address-page form input,
    ._address-page form select,
    ._address-page form textarea
  ) {
  padding-inline: 12px;
  text-align: end;
  margin-inline: 12px;
  margin-inline-end: 0px;
  inline-size: 100%;
  padding-block: var(--length-6);
  margin-block: var(--length-6);
  background-color: var(--color-primary);
  border-radius: 6px;
  border: none;
}

:where(
    ._address-page form input:focus,
    ._address-page form select:focus,
    ._address-page form textarea:focus
  ) {
  outline: none;
  background-color: transparent;
}

:where(._address-page output) {
  align-self: center;
  text-align: center;
  margin-block: var(--length-6);
}

:where(._address-page output ._success) {
  color: var(--color-action);
  font-weight: 600;
}

:where(._address-page output ._error) {
  color: var(--color-error);
}

@media (max-width: 37.5rem) {
  :where(._address-page) {
    inline-size: 90%;
  }
}

@media (max-width: 68.75rem) {
  :where(._address-page) {
    inline-size: 75%;
  }
}
