
:where(._category-container) {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-inline: 24px;
    margin-block: var(--length-24);
    margin-block-start: var(--length-12);
}

:where(._category-container > a) {
    display: inline-block;
    inline-size: 220px;
    max-inline-size: 250px;
    /* block-size: 200px; */
        margin-inline: 18px;
            margin-block: var(--length-16);
    flex-shrink: 1;
    flex-grow: 1;
}

:where(._category-container-p) {
font-size: var(--length-16);
font-weight: 700;
margin-block: var(--length-14);
margin-block-end: var(--length-8);
margin-inline: 50px;
}