:where(._orders-container) {
    inline-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}


:where(._orders-container > article > p) {
    margin-block: var(--length-16);
}


:where(._orders-container > article) {
    margin-block: var(--length-8);
}