:where(._orders-page){
    inline-size: 75%;
    margin-inline: auto;
}

:where(._orders-page > p){
    text-align: center;
    font-size: var(--length-16);
    margin-block: var(--length-8);
    font-weight: 600;
}

:where(._orders-page > ol) {
    margin-block: var(--length-6);
}