:where(._order-page) {
    margin-block: var(--length-16);
    margin-inline: var(--length-12);
    padding-block: var(--length-16);
    padding-inline: var(--length-12);

    border: solid var(--color-faded-4) var(--border-extra-thin);
}

:where(._order-page > h1) {
    margin-block: var(--length-12);
    margin-inline: var(--length-6);
    
    font-size: var(--length-18);
}