:where(._stores-page > nav) {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  margin-inline: 24px;
  margin-block: var(--length-24);
  margin-block-start: var(--length-12);
}

:where(._stores-page > nav > a) {
  display: inline-block;
  inline-size: 220px;
  max-inline-size: 250px;
  /* block-size: 200px; */
  margin-inline: 18px;
  margin-block: var(--length-16);
  flex-shrink: 1;
  flex-grow: 1;
}

@media (max-width: 68.75rem) {
  :where(._stores-page > nav) {
    justify-content: center;
  }

  :where(._stores-page > nav > a) {
    inline-size: 270px;
    max-inline-size: 290px;
    min-inline-size: 180px;
  }
}