:where(.store-info) {
  display: flex;
  flex-direction: column;
  inline-size: 70%;
  padding-block: var(--length-32);
  padding-inline: 16px;
  margin-block: var(--length-32);
  margin-inline: auto;
  background-color: var(--color-primary);
  border-radius: 8px;
  border: var(--border-thin) solid var(--color-faded-3);
  box-shadow: var(--box-shadow-extra-thick);
}

:where(.store-info > a > address) {
  display: flex;
  align-self: flex-start;
  inline-size: 100%;
  padding-inline: var(--length-16);
  margin-block: var(--length-12);
}

:where(.store-info > a > address > img) {
  inline-size: 100px;
  block-size: 100px;
  padding-inline: 8px;
  margin-inline: 12px;
  border-radius: 8px;
  border: var(--border-extra-thin) solid var(--color-faded-5);
}

:where(.store-info > a > address > div) {
  display: flex;
  flex-direction: column;
}

:where(.store-info > a > address > div h1) {
  margin-inline: 6px;
  margin-block: var(--length-6);
  font-size: var(--length-18);
  font-weight: 700;
  font-style: normal;
}

:where(.store-info > a > address > div svg) {
  inline-size: 16px;
  block-size: 16px;
  margin-inline: 6px;
  margin-block: var(--length-6);
}

:where(.store-info > a > address > div p) {
  margin-block: var(--length-8);
  margin-inline: 6px;
  color: var(--color-faded);
  font-size: var(--length-12);
  font-style: normal;
}

:where(.store-info > a > address > div small) {
  max-inline-size: 60%;
  margin-inline: 6px;
  color: var(--color-text-2);
  opacity: 0.85;
  font-size: var(--length-12);
  font-style: normal;
}

:where(.store-info > dl) {
  display: flex;
  justify-content: space-around;
  inline-size: 100%;
  margin-block: var(--length-24);
}

:where(.store-info > dl > span) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

:where(.store-info > dl > span svg) {
  inline-size: 16px;
  block-size: 16px;
  margin-inline: 6px;
  margin-block: var(--length-8);
}

:where(.store-info > dl > span dd) {
  margin-block: var(--length-8);
  font-size: var(--length-12);
  color: var(--color-text-2);
  font-weight: 700;
}

:where(.store-info > dl ._store-state) {
  color: var(--color-faded);
}

:where(.store-info > dl ._store-state span) {
  margin-inline: 4px;
  font-size: 700;
  color: var(--color-text-2);
}

:where(.store-info > dl ._store-state ._store-open) {
  color: var(--color-action);
}

:where(.store-info > dl ._store-closed) {
  color: var(--color-error);
}

:where(.store-info > dl > span dt) {
  margin-block: var(--length-8);
  font-size: var(--length-12);
  color: var(--color-text-2);
}

:where(.store-info dd) {
  direction: rtl;
}

:where(.store-info > div) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-start;
  inline-size: 100%;
  padding-inline: 10px;
  margin-block: var(--length-8);
  background-color: var(--color-primary);
  border-block: var(--border-extra-thin) solid var(--color-faded-5);
  font-weight: 400;
}

:where(.store-info > div span) {
  margin-block: var(--length-8);
  font-size: var(--length-12);
}

:where(.store-info > div span span) {
  font-weight: 700;
}

:where(.store-info time) {
  font-size: var(--length-10);
  font-weight: 700;
  word-break: keep-all;
}

:where(.store-info > div span ._store-score) {
  display: block;
  font-weight: 700;
  font-size: var(--length-20);
}

:where(.store-info > div svg) {
  inline-size: 16px;
  block-size: 16px;
  margin-block: var(--length-8);
  margin-inline: 8px;
}

:where(.store-info > p) {
  align-self: flex-start;
  margin-block: var(--length-16);
  font-size: var(--length-14);
  font-weight: 700;
}

:where(.store-info > ul:not(*:last-child)) {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-block-size: 500px;
  border-block: var(--border-extra-thin) solid var(--color-faded-5);
  overflow-y: auto;
}

:where(.store-info ._map-container) {
  margin-inline-start: auto;
}

:where(.store-info #__map) {
  inline-size: 250px;
  border-radius: 20px;
}

@media (max-width: 68.75rem) {
  :where(.store-info) {
    inline-size: 75%;
  }

  :where(.store-info > a > address) {
    flex-direction: column;
    align-items: center;
  }

  :where(.store-info > a > address) {
    flex-direction: column;
    align-items: center;
  }

  :where(.store-info ._map-container) {
    margin-block: var(--length-12);
    margin-inline-start: initial;
  }

  :where(.store-info > a > address div) {
    flex-direction: column;
    align-items: center;
    margin-block: var(--length-8);
  }

  :where(.store-info > a > address *) {
    text-align: center;
    margin-block: var(--length-4);
  }

  :where(.store-info > p) {
    align-self: center;
  }

  :where(.store-info > div) {
    align-items: center;
    align-self: center;
  }
}

@media (max-width: 34.5rem) {
  :where(.store-info) {
    inline-size: 90%;
  }

  :where(.store-info > dl) {
    flex-direction: column;
  }
}
